<h1 class="info-position"><%= t(".header") %></h1>
<p>
  <%= link_to t(".new"), new_admin_badge_path %>
</p>

<%= render 'shared/errors', resource: @badge %>

<table class="table">
  <tr>
    <th><%= t(".title") %></th>
    <th><%= t(".file_name") %></th>
    <th><%= t(".rule") %></th>
    <th>Для</th>
    <th colspan="2" class="text-center"><%= t(".actions") %></th>
  </tr>
  <%= render @badges %>
</table>

