<div class="content">
  <p>
    <%= image_tag("badges/#{img(@badge.rule)}", class: "my-badge") %>
  </p>
  <p>
    <strong><%= t(".title") %></strong>
    <%= @badge.title %>
  </p>
  <p>
    <strong><%= t(".rule") %></strong>
    <%= Badge.rules.key(@badge.rule) %>
  </p>
  <p>
    <strong><%= t(".for") %></strong>
    <%= @badge.rule_value %>
  </p>
  <%= link_to t(".back"), admin_badges_path %>
</div>
