<h1><%= t('.header') %></h1>

<table>
  <thead>
  <tr>
    <th><%= t('.question') %></th>
    <th><%= t('.url') %></th>
    <th><%= t('.user') %></th>
  </tr>
  </thead>
  <tbody>
  <% @gists.each do |gist| %>
    <tr>
      <td><%= link_to gist.question.body.truncate(25), admin_question_path(gist.question) %></td>
      <td><%= link_to gist.gist_url, gist.gist_url %></td>
      <td><%= gist.user.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>
