<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1 class="info-position"><%= t('.header') %></h1>
<table class="table">
  <tr>
    <th class="sort-by-title pointer"><%= t('.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th><%= t('.level') %></th>
    <th><%= t('.questions') %></th>
    <th><%= t('.actions') %></th>
  </tr>
  <%= render @tests %>
</table>
</body>
</html>

