<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container mt-5">
  <h1 class="mb-4 text-center"><%= t('.header') %></h1>

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col"><%= t('.title') %></th>
      <th scope="col"><%= t('.level') %></th>
      <th scope="col"><%= t('.questions') %></th>
      <th scope="col"><%= t('.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <%= render @tests %>
    </tbody>
  </table>
</div>

<% @tests.each do |test| %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= test.title %></h5>
      <p class="card-text">Level: <%= test_level(test) %></p>
      <p class="card-text">Questions: <%= test.questions.count %></p>
      <%= button_to t('.start'), start_test_path(test), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
