<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Questions:</strong><br>
  <% @test.questions.each do |question| %>
  <%= question.body %><br>
  <% end %>
</p>
<%= link_to 'Back to all tests', tests_path %>
<%= link_to 'Actions with questions', test_questions_path(@test) %>
