<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport", initial-scale=1, shrink-to-fit=no">

  <title>Admin Panel | TestGuru</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div id="page-container">
  <%= render 'shared/nav' %>
  <%= render 'shared/flash' %>
  <div id="content-wrap">
    <%= yield %>
  </div>
  <footer id="footer">
    <%= render "layouts/footer" %>
  </footer>
</div>
</body>
</html>
